/* You can add global styles to this file, and also import other style files */

html {
  border: 0;
  margin: 0;
  padding: 0;

  height: 100vh;
  overflow-y: hidden;

  body {
    border: 0;
    margin: 0;
    padding: 0;

    height: 100%;

    background: #c2c2c2;

    font-family: Cambria serif;

    app-root {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
}

app-make-card {
  flex: 1 1 auto;

  overflow-y: scroll;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .section-nav-container {
    height: 10vmin;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    button {
      flex-basis: 20%;
      font-size: 5vmin;
      border: 0;
      background: 0;
    }

    div {
      flex: 1 1 auto;
    }
  }

  .section {
    // Älä laita displayta tähän, koska sitä käytetään piilottamiseen! Hax hax...

    display: flex; // Laitoin sit kuitenkin.
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 3vmin;

    &.hidden {
      display: none;
    }

    height: 100%;

    .input-field-container {
      color: #000000;

      width: 90%;
      margin-bottom: 3vmin;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;

      input {
        margin-left: 1vmin;
        height: 100%;
        display: block;
        font-size: 3vmin;
        flex: 1 0 auto;
        padding: 2px;
      }
    }

    &.section-self {
    }

    &.section-prompt {
    }

    &.section-greeting {
    }

    &.section-publish {
      button {
        display: block;

        padding: 5vmin;
        font-size: 5vmin;

        min-height: 256px;
        min-width: 256px;
      }
    }
  }
}

app-draw {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  flex-direction: column;

  .canvas-container {
    flex: 1 0 auto;

    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;

    canvas {
      flex: 0 0 auto;

      width: 90vmin;
      height: 90vmin;

      image-rendering: pixelated;

      box-shadow: 0 0 1rem 0 rgba(0,0,0,0.125);
    }
  }

  .toolbar {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 5vmin 0 5vmin 0;

    @button-border-width: 0.5vmin;
    button {
      font-size: 3vmin;
      box-shadow: 0 0 1rem 0 rgba(0,0,0,0.125);
    }

    .brushes {
      display: flex;
      flex-direction: row;

      button {
        display: block;
        height: 5vmin;
        width: 5vmin;
        flex: 0 1 auto;

        box-sizing: border-box;
        border-width: @button-border-width;
        border-style: solid;
        border-color: #e7e7e7;
        margin: 1vmin;
      }
    }

    .colors {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        display: block;
        height: 5vmin;
        width: 5vmin;
        flex: 0 1 auto;

        box-sizing: border-box;
        border-width: @button-border-width;
        border-style: solid;
        border-color: #e7e7e7;
        margin: 1vmin;
      }
    }

    .actions {
      display: flex;
      justify-content: space-around;
      align-items: stretch;

      flex-direction: row;

      button {
        display: block;
        height: 5vmin;
        width: 5vmin;
        flex: 0 1 auto;

        box-sizing: border-box;
        border-width: @button-border-width;
        border-style: solid;
        border-color: #e7e7e7;
        margin: 1vmin;
      }
    }
  }
}

app-collection {
  flex: 1 0 auto;

  //margin: 0 100vw 0 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .cards-container {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    app-card {
      flex: 0 0 auto;
      margin: 0 5vmin 0 5vmin;

      animation-duration: 3s;
      animation-name: appear;
      animation-fill-mode: backwards;

      @keyframes appear {
        0% {
          width: 0;
          opacity: 0;
        }

        50% {
          width: 80vmin;
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }
}

app-card {
  background: white;
  box-shadow: 0 1vmin 3vmin 0 rgba(0,0,0,0.5);
  box-sizing: border-box;

  height: 64vmin;
  width: 80vmin;

  padding: 5vmin;

  .content-container {
    //background: #f1df84;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .personal-container {
      flex-basis: 22.5%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      img {
        box-sizing: border-box;
        flex: 1 0 auto;
        width: 100%;

        border: 0.5vmin solid black;

        image-rendering: pixelated;
      }

      .user-name {
        flex: 0 0 auto;
        font-size: 2vmin;
        font-style: oblique;
        text-align: center;

        margin-bottom: 2vmin;
      }

      .greeting {
        flex: 1 1 auto;
        font-size: 1.75vmin;
        text-align: justify;
        hyphens: auto;
      }
    }

    .drawing-container {
      flex-basis: 72.5%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      img {
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 100%;
        border: 0.5vmin solid black;

        image-rendering: pixelated;
      }

      .drawing-name {
        flex: 1 1 auto;
        text-align: center;
        font-size: 3vmin;
        font-style: oblique;
      }
    }
  }
}
